package ${dtoPackage};

import lombok.Data;
import org.hibernate.validator.constraints.Length;
import org.hibernate.validator.constraints.Range;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import java.io.Serializable;

/**
 * @author $author
 * @date $date
 */
@Data
public class ${ClassName}DTO implements Serializable {

	private static final long serialVersionUID = -1L;

#foreach ($column in $createRequestParamColumns)
	/**
#if($column.comment == "")
 	* $column.lowerAttrName
#else
 	*$column.comment
#end
	*/
#if($column.boolIsNullable == false)
#if($column.attrType == "String")
	@NotBlank(message = "$column.lowerAttrName不能为空")
#else
	@NotNull(message = "$column.lowerAttrName不能为空")
#end
#end
#if($column.attrType == "String")
	@Length(max = $column.characterMaximumLength, message = "$column.lowerAttrName长度不正确")
#end
#if($column.maxValue)
	@Range(min = 1, max = $column.maxValue, message = "$column.lowerAttrName数值不正确")
#end
	private $column.attrType $column.lowerAttrName;

#end

}
