package ${entityPackage};

import lombok.Data;
import com.baomidou.mybatisplus.annotation.*;
import com.baomidou.mybatisplus.extension.activerecord.Model;

/**
 * @author $author
 * @date $date
 */
@Data
@TableName("$tableName")
public class ${ClassName} extends Model<${ClassName}> {

    private static final long serialVersionUID = -1L;

#foreach ($column in $entityColumns)
    /**
#if($column.comment == "")
    * $column.lowerAttrName
#else
    *$column.comment
#end
    */
    #if($column.lowerAttrName == "id")
@TableId(value = "id", type = IdType.AUTO)
    #end
private $column.attrType $column.lowerAttrName;

#end
}

