package ${configMap.entityPackage};

import lombok.Data;
import com.baomidou.mybatisplus.annotation.*;
import com.baomidou.mybatisplus.extension.activerecord.Model;

/**
 * @author $author
 * @date $date
 */
@Data
@TableName("$tableName")
public class ${ClassName} extends Model<${ClassName}> {

  private static final long serialVersionUID = -1L;

  /**
#if($pk.comment == "")
   * $pk.lowerAttrName
#else
   * $pk.comment
#end
   */
  @TableId(value = "$pk.lowerAttrName", type = IdType.AUTO)
  private $pk.attrType $pk.lowerAttrName;

#foreach ($column in $columnsNonePk)
  /**
#if($column.comment == "")
   * $column.lowerAttrName
#else
   * $column.comment
#end
   */
  private $column.attrType $column.lowerAttrName;

#end
}

