package ${configMap.mapperPackage};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${configMap.entityPackage}.${ClassName};

/**
 * @author $author
 * @date $date
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {

}
