package ${configMap.servicePackage};

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;
import ${configMap.entityPackage}.${ClassName};
import ${configMap.mapperPackage}.${ClassName}Mapper;
import ${configMap.iServicePackage}.I${ClassName}Service;


/**
 * @author $author
 * @date $date
 */
@Service
public class ${ClassName}ServiceImpl extends ServiceImpl<${ClassName}Mapper, ${ClassName}> implements I${ClassName}Service {

}

